body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343a40;
}
.navbar-brand {
    font-size: 24px;
    align-items: center;
    height: 100%;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-brand::first-letter {
    color: #ff0000; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dimensionSelectors {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}
div {
    margin-bottom: 10px; /* Ajoute de l'espace entre les divs */
    display: flex;
    align-items: center;
}

select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    margin-right: 30px;
}

#buttonsContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.btn {
    font-size: 16px; /* Taille du texte */
    padding: 10px 20px; /* Marge intérieure du bouton */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur pointeur au survol */

}

#tambali {
    box-shadow: 0 0 20px rgba(14, 82, 255, 0.5);
}

#jeexal {
    box-shadow: 0 0 20px rgba(255, 6, 6, 0.5);
}

#agaleii {
    box-shadow: 0 0 20px rgba(107, 255, 74, 0.5);
}

#tambaliwat {
    box-shadow: 0 0 20px rgba(255, 255, 19, 0.5);
}

#tanduus {
    background-color: rgb(255, 137, 19, 0.954);
    color: white;
    box-shadow: 0 0 20px rgba(255, 137, 19, 0.954)

}

#tanduus:hover {
    background-color: #45a049;
}

#generationCounter {
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
}

canvas {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    overflow: hidden;
    border-radius: 10px;
}

.footer {
    background-color: #343a40;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    border-top: 2px solid #ffffff;
}

.footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(107, 255, 74, 0.5);
}
/* Ajoutez ce bloc de styles dans votre fichier CSS ou entre les balises <style> dans votre balise <head> du HTML */

#rows, #cols, #speedSelect {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#speedSelect:hover {
    background-color: #f5f5f5; /* Change la couleur de fond au survol */
}

#speedSelect:focus {
    outline: none; /* Supprime la bordure d'accentuation au focus (utile pour l'accessibilité) */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ajoute une ombre légère au focus */
}

/* Style pour les options de la liste déroulante */
#speedSelect option {
    padding: 8px;
    background-color: #fff;
    color: #000000;
}

